:root {
  /* colors */
	--main-text-color: #22343D;
	--main-dec-color: #02897A;
	--add-dec-color: #F3CD03;
	--social-dec-color: #EDFFFC;
	--btn-border: #BCD0E5;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
	padding: 0;
	font-size: 18px;
}
a {
	text-decoration: none;
	color: var(--main-text-color);
}
html {
	font-size: 16px;
}
body {
	position: relative;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	background-color:#fff;
	color:	var(--main-text-color);
}
.header {
	margin-bottom: 110px;
}
.container {
	max-width: 1130px;
	width: 100%;
	height: auto;
	margin: 0 auto;
	padding: 0 15px;
}
section {
	margin-bottom: 120px;
}
.title {
	text-align: center;
	font-size: 2rem;
	line-height: 3rem;
	font-weight: 700;
	color: var(--main-text-color);
}

/* header */
.header__top {
	display: flex;
	align-items: center;
	min-height: 80px;
	margin-bottom: 1.5rem;
}
.header__menu {
	margin-left: auto;
}

.logo {
	display: flex;
	align-items: center;
}
.logo:hover .logo__title {
	text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
}
.logo__img {
	max-width: 40px;
	max-height: 40px;
}
.logo__title {
	margin-left: 1rem;
	font-size: 1.9rem;
	line-height: 1.8rem;
}
.menu__list {
	list-style: none;
}
.menu__item {
	display: inline-block;
	padding: 0 1rem;
	font-weight: 400;
	line-height: 1.8rem;
}
.menu__link {
	display: block;
	text-align: center;
}
.menu__active,
.menu__link:hover {
	text-shadow: var(--main-text-color) 0px 0px 0.5px;
}
.btn {
	font-size: 1rem;
	line-height: 1.5rem;
	font-weight: 600;
	background-color: var(--main-dec-color);
	color: #fff;
	border: 1px solid var(--btn-border);
	border-radius: 4px;
	cursor: pointer;
	transition: all .5s;
}
.btn:hover {
	background-color: #fff;
	color: var(--main-text-color);
}
.sign-in {
	background-color: #fff;
	color: var(--main-text-color);
}
.sign-in,
.sign-up {
	margin: 8px;
	padding: 10px 25px;
}
.sign-in:hover {
	background-color: var(--main-dec-color);
	color: #fff;
}
.header__inner {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.header__content {
	max-width: 50%;
}
.header__img {
	max-width: 50%;
}
.header__title {
	margin-bottom: 1rem;
	font-size: 2.5rem;
	line-height: 3.75rem;
	font-weight: 700;
}
.header__text {
	margin-bottom: 2.75rem;
	font-size: 1.125rem;
	line-height: 1.75rem;
}
.get-starter {
	margin-right: 1.9rem;
	padding: 1rem 2.5rem;
}
.header__video-btn {
	position: relative;
	margin-left: 1rem;
	font-size: 1.125rem;
	line-height: 1.75rem;
	font-weight: 600;
	text-decoration: underline;
	color: var(--main-dec-color);
}
.header__video-btn:hover {
	text-decoration: none;
}
.header__video-btn::before {
	content: "\ea1c";
	font-family: 'icomoon';
	position: absolute;
	top: 0;
	left: -1.5rem;
}

/* end header */

/* opportunities section */
.opportunities {
	padding-bottom: 3%;
	background: linear-gradient(179.59deg, rgba(255, 255, 255, 0.0001) 0.35%, #EDEDED 99.63%);
	border-bottom-left-radius: 48%;
	border-bottom-right-radius: 48%;
}
.opportunities__title {
	max-width: 500px;
	margin: 0 auto;
	margin-bottom: 3.5rem;
}
.opportunities__items {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.opportunities__item {
	width: 23%;
}
.opportunities__icon {
	position: relative;
	width: 50px;
	height: 50px;
	margin-bottom: 30px;
	border-radius: 20px;
}
.opportunities__arrow {
	background-color: var(--main-dec-color);
}
.opportunities__arrow::before {
	content: "\ea31";
	font-size: 0.7rem;
}
.opportunities__stumble {
	background-color: #4D8DFF;
}
.opportunities__stumble::before {
	content: "\eace";
	font-size: 1rem;
}
.opportunities__heart {
	background-color: #740A76;
}
.opportunities__heart::before {
	content: "\e9da";
	font-size: 1rem;
}
.opportunities__hour-glass {
	background: #F03E3D;
}
.opportunities__hour-glass::before {
	content: "\e979";
	font-size: 1rem;
}
.opportunities__icon::before {
	font-family: 'icomoon';
	position: absolute;
	top: 50%;  
  left: 50%; 
  transform: translate(-50%, -50%);
	color: #fff;
}
.opportunities__item-title {
	margin-bottom: 0.8rem;
	font-size: 1.5rem;
	line-height: 2rem;
	font-weight: 600;
}
.opportunities__text {
	font-size: 1rem;
	line-height: 1.6rem;
	font-weight: 400;
}
.opportunities__btn {
	display: block;
	margin: 2rem auto;
	padding: 10px 32px;
}
/* end opportunities section */

/* management section */

.management__inner {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.management__content {
	max-width: 50%;
	padding-right: 3.5rem;
}
.management__img {
	max-width: 50%;
}
.management__pretitle {
	margin-bottom: 0.5rem;
	line-height: 1.5rem;
}
.management__title {
	margin-bottom: 1.5rem;
	text-align: left;
	line-height: 3rem;
}
.management__subtitle {
	margin-bottom: 0.75rem;
	font-weight: 600;
}
.management__text {
	margin-bottom: 2rem;
	font-size: 1rem;
	line-height: 1.75rem;
}
/* end management section */

/* support section */

.support__inner {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.support__content {
	max-width: 50%;
	padding-left: 3rem;
}
.support__img {
	max-width: 50%;
}
.support__pretitle {
	margin-bottom: 0.5rem;
	line-height: 1.5rem;
}
.support__title {
	margin-bottom: 1.5rem;
	text-align: left;
	line-height: 3rem;
}
.support__subtitle {
	margin-bottom: 0.75rem;
	font-weight: 600;
}
.support__text {
	margin-bottom: 2rem;
	font-size: 1rem;
	line-height: 1.75rem;
}
.support__list {
	list-style-type: none;
	padding-left: 65px;
}
.support__list-item {
	position: relative;
	margin-bottom: 1.8rem;
}
.support__list-item::before {
	content: "\ea10";
	width: 35px;
	height: 35px;
	background: #FF9900;
	border-radius: 13px;
	font-family: 'icomoon';
	font-weight: 200;
	line-height: 35px;
	text-align: center;
	position: absolute;
	top: 50%;  
  left: -65px; 
  transform: translateY( -50%);
	color: #fff;
}
.support__list-item:nth-child(2):before {
	background: #F03E3D;
}
.support__list-item:nth-child(3):before {
	background: #4D8DFF;
}
/* end management section */

/* collaborative section */

.collaborative__inner {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.collaborative__content {
	max-width: 50%;
	padding-right: 3.5rem;
}
.collaborative__img {
	max-width: 50%;
}
.collaborative__pretitle {
	margin-bottom: 0.5rem;
	line-height: 1.5rem;
}
.collaborative__title {
	margin-bottom: 1.5rem;
	text-align: left;
	line-height: 3rem;
}
.collaborative__subtitle {
	margin-bottom: 0.75rem;
	font-weight: 600;
}
.collaborative__text {
	margin-bottom: 2rem;
	font-size: 1rem;
	line-height: 1.75rem;
}
/* end collaborative */

/* section experts */
.experts {
	padding-top: 3%;
	background: linear-gradient(179.59deg, #EDEDED 0.35%, rgba(255, 255, 255, 0.0001) 99.63%);
	border-top-left-radius: 48%;
	border-top-right-radius: 48%;
}
.experts__title {
	margin-bottom: 1rem;
}
.experts__text {
	max-width: 550px;
	margin: 0 auto 2rem;
	text-align: center;
	line-height: 1.6rem;
}
.experts__inner {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.experts__item {
	width: 45%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	margin-bottom: 1.5rem;
}
.experts__message {
	position: relative;
	padding: 0.9rem 1.5rem;
	box-shadow: 0px 2px 15px rgba(23, 58, 86, 0.1);
	border-radius: 26.5px;
}
.experts__img {
	max-width: 100%;
}
.experts__message::before {
	content: "";
	width: 1rem;
	height: 1rem;
	background-color: #fff;
	position: absolute;
	left: 12%;
	bottom: -0.5rem;
	border-radius: 50%;
}
.experts__message:nth-child(1)::before {
	left: initial;
	right: 12%;
	background-color: #fff;
} 
.experts__message::after {
	content: "";
	width: 0.5rem;
	height: 0.5rem;
	background-color: #fff;
	position: absolute;
	left: 8%;
	bottom: -1rem;
	border-radius: 50%;
	box-shadow: 0px 2px 15px rgba(0, 4, 7, 0.2);
}
.experts__message:nth-child(1)::after {
	left: initial;
	right: 8%;
} 
.experts__btn {
	display: block;
	margin: 2rem auto;
	padding: 1rem 2rem;
}
/* end section experts */

/* section strategies */
.strategies__title {
	margin-bottom: 0.5rem;
	text-align: left;
}
.strategies__text {
	margin-bottom: 2rem;
}
.strategies__content {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	margin: 0 -1rem;
}
.strategies__item {
	padding: 0 1rem;
}
.strategies__item-inner {
	max-width: 348px;
	min-height: 370px;
	box-shadow: inset 0px 0px 0px 1px #DEDEDE;;
	border-radius: 8px;
	transition: all .5s;
}
.strategies__item-inner:hover .strategies__item-link {
	color: var(--main-dec-color);
}
.strategies__img {
	max-width: 100%;
	margin-bottom: 1.5rem;
}
.strategies__info {
	display: flex;
	margin-bottom: 0.75rem;
	padding: 0 1.5rem;
	font-size: 1rem;
}
.strategies__author {
	padding-right: 5px;
}
.strategies__item-title {
	padding: 0 1.5rem 1rem;
	font-size: 1.5rem;
	line-height: 2.2rem;
	font-weight: 700;
}
.strategies .slick-dots {
	display: flex;
	justify-content: center;
	margin-top: 4rem;
	list-style: none;
}
.strategies .slick-dots button {
	width: 1rem;
	height: 1rem;
	font-size: 0;
	border: none;
	border-radius: 50%;
	margin: 0 5px 10px;
	padding: 0;
	background-color: #EFEFEF;
}
.strategies .slick-active button {
	background-color: var(--main-dec-color);
}
/* end section strategies */

/* price section */
.price__text {
	margin-bottom: 3rem;
	text-align: center;
}
.price__inner {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
}
.price__item {
	width: 29%;
	min-height: 456px;
	padding: 1.5rem;
	text-align: center;
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
	border-radius: 8px;
}
.price__item-title {
	font-size: 1.5rem;
	line-height: 2.5rem;
}
.price__item-desc {
	font-size: 1rem;
	line-height: 2.5rem;
}
.price__value {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 2rem;
	color: var(--main-dec-color);
}
.price__number {
	padding: 0 0.5rem;
	font-size: 4.75rem;
	font-weight: 700;
	line-height: 6.25rem;
}
.price__mark {
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1.9rem;
	text-align: left;
}
.price__period {
	font-size: 1rem;
	line-height: 1.3rem;
	font-weight: 400;
	text-align: left;
	color: #AFAFAF;
}
.price__list {
	list-style: none;
	margin-bottom: 2rem;
}
.price__list-item {
	padding-bottom: 1rem;
	line-height: 1.5rem;
	font-weight: 500;
}
.order__btn {
	padding: 0.7rem 1.2rem;
	font-size: 1.2rem;
	line-height: 1.4rem;
	font-weight: 600;
}
.price__item:nth-child(even) {
	background-color: var(--main-dec-color);
	color:#fff;
}
.price__item:nth-child(even) .price__value {
	color: #fff;
}
.price__item:hover {
	background-color: var(--main-dec-color);
	color: #fff;
}
.price__item:hover .price__value {
	color: #fff;
}
.price__item:nth-child(even):hover {
	background-color: #fff;
	color: #000;
}
.price__item:nth-child(even):hover .price__value {
	color: var(--main-dec-color);
}
/* end price section */
/* section review */
.reviews__text {
	max-width: 540px;
	margin: 0 auto 3rem;
	text-align: center;
}
.reviews__content {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.reviews__item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 30%;
	padding: 1.5rem;
	border: 1px  solid #DEDEDE;
	border-radius: 5px;
}
.reviews__item::before {
	content: "\e9d9 \e9d9 \e9d9 \e9d9 \e9d7";
	display: block;
	font-family: 'icomoon';
	font-size: 1rem;
	letter-spacing: 0.4rem;
	color: var(--add-dec-color);
}
.reviews__item:nth-child(2)::before {
	content: "\e9d9 \e9d9 \e9d9 \e9d9 \e9d8";
}
.reviews__item-text {
	margin: 1rem 0;
	line-height: 1.75rem;
	font-weight: 400;
}
.reviews__author {
	display: flex;
	align-self: flex-start;
	margin-top: auto;
}
.reviews__img {
	max-width: 100%;
	margin-right: 1rem;
}
.reviews__name {
	line-height: 1.5rem;
	font-weight: 600;
	color: var(--main-dec-color);
}
.reviews__prof {
	font-size: 0.85rem;
	font-weight: 500;
}
/* end review section */
/* section join */
.join__inner {
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	background-color: var(--main-dec-color);
	border-radius: 32px;
}
.join__content {
	padding: 3rem;
}
.join__title {
	margin-bottom: 3rem;
	font-size: 2rem;
	line-height: 3rem;
	font-weight: 600;
	color: #fff;
}
.join__btn-get {
	padding: 0.6rem 2rem;
	color: var(--main-dec-color);
	background-color: #fff;
}
.join__btn-get:hover {
	color: #fff;
	background-color: var(--main-dec-color);
}
.join__img {
	object-fit: contain;
}
/* end join section*/
/* footer */
.footer {
	margin-bottom: 0;
	padding-bottom: 20px;
}
.footer__top {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1.5rem;
}
.footer__contacts,
.footer__resource,
.footer__staff,
.footer__form {
	width: 25%;
}
.footer__logo {
	margin-bottom: 1.5rem;
}
.social {
	display: flex;
}
.social__link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	margin-right: 1rem;
	background-color: var(--social-dec-color);
	border-radius: 50%;
	transition:  all .5s;
}
.social__link:hover {
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
}
.social__img {
	max-width: 20px;
	max-height: 20px;
}
.resource__title,
.staff__title {
	font-size: 1.25rem;
	font-weight: 500;
	line-height: 2rem;
	margin-bottom: 0.5rem;
}
.resource__item,
.staff__item {
	margin-bottom: 0.8rem;
}
.resource__link:hover,
.staff__link:hover {
	text-decoration: underline;
}
.resource__list,
.staff__list {
	list-style: none;
}
.footer__form {
	display: flex;
	flex-direction: column;
}
.footer__text {
	margin-bottom: 1.5rem;
	font-size: 1.4rem;
	line-height: 1.9rem;
	font-weight: 500;
}
.form__input {
	height: 40px;
	border-radius: 4px;
	margin-bottom: 1.4rem;
	padding: 0.5rem;
	font-size: 1.2rem;
}
.form__btn {
	align-self: flex-start;
	padding: 0.5rem 1rem;
}

.footer__copyrights {
	text-align: center;
}
/* end footer */
/* btn up */
.btn-up {
	/* position: relative; */
	position: fixed;
	bottom: 0px;
	right: 10px;
	background-color: #AFAFAF;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.btn-up__link {
	display: block;
	width: 40px;
	height: 40px;
	font-family: "icomoon";
	font-size: 2rem;
	line-height: 55px;
	text-align: center;
	color: #fff;
	opacity: 0.5;
}
.btn-up__link:hover {
	color: var(--main-dec-color);
}
